<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
  </head>
  <body>
        <section class="ftco-section">
        </section>
        <footer class="footer-10">
            <div class="container">
                <div class="row mb-5 pb-3 no-gutters" style="margin-bottom: 0px;">
                    <div class="col-md-4 mb-md-0 mb-4 d-flex">
                        <div class="con con-1 w-100 py-5">
                            <div class="con-info w-100 text-center">
                                <!-- <div class="icon d-flex align-items-center justify-content-center"> -->
                                    <img src="../../assets/icons8-phone-96.png" alt="phone" style="height: 15%;width: 15%;">
                                <!-- </div> -->
                                <div class="text">
                                    <span>(+91) 9876572530</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4 d-flex">
                        <div class="con con-2 w-100 py-5">
                            <div class="con-info w-100 text-center">
                                <!-- <div class="icon d-flex align-items-center justify-content-center"> -->
                                    <img src="../../assets/icons8-email-128.png" alt="email" style="height: 15%;width: 15%;">
                                <!-- </div> -->
                                <div class="text">
                                    <span>infomedxpert@email.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4 d-flex">
                        <div class="con con-3 w-100 py-5">
                            <div class="con-info w-100 text-center">
                                <!-- <div class="icon d-flex align-items-center justify-content-center"> -->
                                <img src="../../assets/icons8-location-128.png" alt="location" style="width: 15%;height: 15%;">
                                <!-- </div> -->
                                <div class="text">
                                    <span>A-225, Mayur Vihar Phase 1, Delhi-94</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4 mb-md-0 mb-4">
                                <h2 class="footer-heading">About</h2>
                                <ul class="list-unstyled">
                      <li><a href="#" class="d-block">Our story</a></li>
                      <li><a href="#" class="d-block">Awards</a></li>
                      <li><a href="#" class="d-block">Our Team</a></li>
                      <li><a href="#" class="d-block">Career</a></li>
                    </ul>
                            </div>
                            <div class="col-md-4 mb-md-0 mb-4">
                                <h2 class="footer-heading">Company</h2>
                                <ul class="list-unstyled">
                      <li><a href="#" class="d-block">Our services</a></li>
                      <li><a href="#" class="d-block">Clients</a></li>
                      <li><a href="#" class="d-block">Contact</a></li>
                      <li><a href="#" class="d-block">Press</a></li>
                    </ul>
                            </div>
                            <div class="col-md-4 mb-md-0 mb-4">
                                <h2 class="footer-heading">Resources</h2>
                                <ul class="list-unstyled">
                      <li><a href="#" class="d-block">Blog</a></li>
                      <li><a href="#" class="d-block">Newsletter</a></li>
                      <li><a href="#" class="d-block">Privacy Policy</a></li>
                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 mb-md-0 mb-4">
                        <h2 class="footer-heading">Subscribe</h2>
                        <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control rounded-left" placeholder="Enter email address">
                <button type="submit" class="form-control submit rounded-right" style="color: white;">Subscribe</button>
              </div>
              <span class="subheading" style="color: white;">Get New Doctor  updates in your mailbox</span>
            </form>
                    </div>
                </div>
                <div class="row mt-5 pt-4 border-top">
          <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
            <p class="copyright mb-0" style="text-align: center; color: white;padding-left: 40%;padding-bottom: 15px;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
     Copyright &copy;All rights reserved. <i class="ion-ios-heart" aria-hidden="true"></i></p>
          </div>
          <!-- <div class="col-md-6 col-lg-4 text-md-right">
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><img src="../../assets/icons8-twitter-100.png" alt="twitter-logo" srcset="" style="width: 100%;height: 100%;"></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><img src="../../assets/icons8-facebook-100.png" alt="facebook-logo" srcset="" style="width: 100%;height: 100%;"></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><img src="../../assets/icons8-instagram.svg" alt="instagram-logo" srcset="" style="width: 100%;height: 100%;"></a></li>
            </ul>
          </div> -->
        </div>
            </div>
        </footer>
  </body>
</html>