<h3 style="text-align: center;">DISCOVER THE ONLINE APPOINTMENT!</h3>
<div class="row" style="align-items: center;">
    <div class="col-md-4" style="padding-left: 2%;">
        <div class="card w3-panel w3-card-2" style="width: 17rem;">
            <img class="card-img-top" src="../../assets/book appointment.svg" alt=" Book Appointmet">
            <div class="card-body">
              <h5 class="card-title">Book Appointment</h5>
              <p>Now you can book your slots as per your convenience in just a minute. </p>
              <hr>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width:17rem;">
            <img class="card-img-top" src="../../assets/find doctor.svg" alt="Find Doctor" >
            <div class="card-body">
              <h5 class="card-title">Find A Doctor</h5>
              <p>There is a list of doctors that you can choose from.</p>
             <hr>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width:17rem;">
            <img class="card-img-top" src="../../assets/view profile.svg" alt="View Profile">
            <div class="card-body">
              <h5 class="card-title">View Profile</h5>
              <p>Want to know more about the doctor? Click on button below.</p>
             <hr>
            </div>
          </div>
    </div>
</div>