*{
    background-color:#eceff1;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}
img{
    height: 130px;
    padding: 10px 0px;
    
}
h5{
    text-align: center;
    color: tomato;
}
h3{
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.row{
    
     padding: 0% 10% 10% 10%;
}
.card{
    border:solid 2px white;
    background-color: white;
    z-index: 5px;
    position: relative;
}
p{
    padding: 8% 8%;
}