<div class="main">
    <div style="text-align: center;padding-top: 10%; color: white;">
       
      <h3 style="font-size:400%; font-weight: 650;letter-spacing: 1px;word-spacing: 5px;">FIND A DOCTOR</h3>
      <h4>Health ki tension? Do Instant Doctor Consultation In Just A Click</h4>
      <div class="search-container" style="padding:3%">
        <form >
          <input type="text" placeholder="Search.." name="search">
          <button type="submit" class="search">Search</button>
        </form>
      </div>
      <div class="btn1">
          <button>All</button>
          <button>Doctor</button>
          <button>Clinic</button>
      </div>
    </div>
     
</div>
<!-- <img src="../../assets/pexels-piyapong-sayduang-4541406.jpg" alt="" style="max-height: 90vh;width:98%;"> -->
<h3 style="text-align: center;padding: 3%;">FIND BY SPECIALATION</h3>
<div class="row">
    <div class="col-md-3" style="padding-left: 3%;">
        <div class="card" style="width: 13rem;">
            <img class="card-img-top" src="../../assets/primary.svg" alt="Primary Care">
            <div class="card-body">
              <h5 class="card-title">Primary Care</h5>
              <hr>
              <p>
                <span style="float: left;"> 60 Doctors</span>
                <span style="float: right;"> 20 Clinics</span>
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width:13rem;">
            <img class="card-img-top" src="..//../assets/cardology.svg" alt="Cardiologist">
            <div class="card-body">
              <h5 class="card-title">Cardiologist</h5>
              <hr>
              <p>
                <span style="float: left;"> 60 Doctors</span>
                <span style="float: right;"> 20 Clinics</span>
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width:13rem;">
            <img class="card-img-top" src="../../assets/mri.svg" alt="MRI Resonance" >
            <div class="card-body">
              <h5 class="card-title">MRI Resonance</h5>
             <hr>
             <p>
                <span style="float: left;"> 60 Doctors</span>
                <span style="float: right;"> 20 Clinics</span>
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width:13rem;">
            <img class="card-img-top" src="../../assets/dentist.svg" alt="dentist">
            <div class="card-body">
              <h5 class="card-title">Dentist</h5>
             <hr>
             <p>
                <span style="float: left;"> 60 Doctors</span>
                <span style="float: right;"> 20 Clinics</span>
              </p>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="padding-left: 3%;">
        <div class="card" style="width:13rem;">
            <img class="card-img-top" src="../../assets/blood.svg" alt="Blood Test">
            <div class="card-body">
              <h5 class="card-title">Blood Test</h5>
              <hr>
              <p>
                <span style="float: left;"> 60 Doctors</span>
                <span style="float: right;"> 20 Clinics</span>
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width:13rem;">
            <img class="card-img-top" src="..//../assets/laboratry.svg" alt="Laboratory Test">
            <div class="card-body">
              <h5 class="card-title">Laboratory Test</h5>
              <hr>
              <p>
                <span style="float: left;"> 60 Doctors</span>
                <span style="float: right;"> 20 Clinics</span>
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width:13rem;">
            <img class="card-img-top" src="../../assets/xray.svg" alt="X-Ray" >
            <div class="card-body">
              <h5 class="card-title">X-Ray</h5>
             <hr>
             <p>
                <span style="float: left;"> 60 Doctors</span>
                <span style="float: right;"> 20 Clinics</span>
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width:13rem;">
            <img class="card-img-top" src="../../assets/pisologist.svg" alt="Physiologist">
            <div class="card-body">
              <h5 class="card-title">Physiologist</h5>
              <hr>
              <p>
                <span style="float: left;"> 60 Doctors</span>
                <span style="float: right;"> 20 Clinics</span>
              </p>
            </div>
          </div>
    </div>
</div>
<app-discover></app-discover>